@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.usabilidad-section {
  @apply mb-20 bg-green-100 p-4 rounded-md max-w-3xl mx-auto text-lg;
}

.slide-from-right {
    animation: slide-from-right 1.0s ease-out forwards;
  }
  
  @keyframes slide-from-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-from-left {
    animation: slide-from-left 1.9s ease-out forwards;
  }
  
  @keyframes slide-from-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @layer components {
    .titulo-principal {
      @apply text-5xl font-bold mb-10 text-green-800 text-center;
    }
  }
  

  @layer components {
    .titulo-seccion {
      @apply text-3xl font-semibold mb-8 text-center text-green-800;
    }
  }

  @layer components {
    .picture {
      @apply w-full max-w-3xl mx-auto mb-20;
    }
  }

  @layer components {
    .caption {
      @apply text-center text-gray-500 mt-2;
    }
  }
  
  
  
    
  * {
    font-family: 'Inter', sans-serif !important;
  }